@font-face {
   font-family: "Century Gothic";
   src: url("fonts/Century Gothic.woff") format("woff"), url("fonts/Century Gothic.eot") format("embedded-opentype"), url("fonts/Century Gothic.TTF") format("truetype"), url("fonts/Century Gothic.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Century Gothic";
   src: url("fonts/Century Gothic Bold.woff") format("woff"), url("fonts/Century Gothic Bold.eot") format("embedded-opentype"), url("fonts/Century Gothic Bold.TTF") format("truetype"), url("fonts/Century Gothic Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Century Gothic";
   src: url("fonts/Century Gothic Bold Italic.woff") format("woff"), url("fonts/Century Gothic Bold Italic.eot") format("embedded-opentype"), url("fonts/Century Gothic Bold Italic.TTF") format("truetype"), url("fonts/Century Gothic Bold Italic.svg") format("svg");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Century Gothic";
   src: url("fonts/Century Gothic Italic.woff") format("woff"), url("fonts/Century Gothic Italic.eot") format("embedded-opentype"), url("fonts/Century Gothic Italic.TTF") format("truetype"), url("fonts/Century Gothic Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Book Antiqua";
   src: url("fonts/Book Antiqua Bold.woff") format("woff"), url("fonts/Book Antiqua Bold.eot") format("embedded-opentype"), url("fonts/Book Antiqua Bold.TTF") format("truetype"), url("fonts/Book Antiqua Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Book Antiqua";
   src: url("fonts/Book Antiqua Bold Italic.woff") format("woff"), url("fonts/Book Antiqua Bold Italic.eot") format("embedded-opentype"), url("fonts/Book Antiqua Bold Italic.TTF") format("truetype"), url("fonts/Book Antiqua Bold Italic.svg") format("svg");
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: "Book Antiqua";
   src: url("fonts/Book Antiqua Italic.woff") format("woff"), url("fonts/Book Antiqua Italic.eot") format("embedded-opentype"), url("fonts/Book Antiqua Italic.TTF") format("truetype"), url("fonts/Book Antiqua Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Book Antiqua";
   src: url("fonts/Book Antiqua.woff") format("woff"), url("fonts/Book Antiqua.eot") format("embedded-opentype"), url("fonts/Book Antiqua.TTF") format("truetype"), url("fonts/Book Antiqua.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}